.header {
  display: flex;
  align-items: center;

  padding: 10px;

  border-bottom: 1px solid #eee;

  box-sizing: border-box;
}

.header__middle {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}
